<%=render 'layouts/task'%>
<div class="container">
<div class="show_content">
  <h3><%=@task.name%></h3>
  <p><%=@task.content%></p>
</div>
<span class="btn btn-info"><%=link_to "edit task", edit_task_path(@task.id),data: { confirm: 'sure to edit task?'}%></span>
<span class="btn btn-danger" ><%=link_to "delete task", task_path(@task.id), method: :delete, data: { confirm:'sure to delete task?'}%></span>
</div>
